WCF/Lesson4WCFDataContractsAndMembers/TeacherServiceClient/Connected Services/ServiceReference1/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://manish.kumar.net/DepartmentItem/03/01/2020" elementFormDefault="qualified" targetNamespace="https://manish.kumar.net/DepartmentItem/03/01/2020" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DepartmentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeptID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentItem" nillable="true" type="tns:DepartmentItem" />
</xs:schema>