WCF/Lesson4WCFDataContractsAndMembers/TeacherServiceClient/Connected Services/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://manish.kumar.net/TeacherItem/03/01/2020" elementFormDefault="qualified" targetNamespace="https://manish.kumar.net/TeacherItem/03/01/2020" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TeacherObject" />
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd4" namespace="https://manish.kumar.net/DepartmentItem/03/01/2020" />
  <xs:complexType name="TeacherItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="TeacherID" type="xs:int" />
      <xs:element minOccurs="0" name="TeacherName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TeacherObject" minOccurs="0" name="Gender" type="q1:Gender" />
      <xs:element minOccurs="0" name="TeacherQualification" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="https://manish.kumar.net/DepartmentItem/03/01/2020" minOccurs="0" name="Department" nillable="true" type="q2:DepartmentItem" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TeacherObject" minOccurs="0" name="Type" type="q3:EmployeeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeacherItem" nillable="true" type="tns:TeacherItem" />
</xs:schema>