WCF/Lesson4WCFDataContractsAndMembers/TeacherServiceClient/Connected Services/ServiceReference1/TeacherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeacherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="https://manish.kumar.net/TeacherItem/03/01/2020" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TeacherObject" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd4" namespace="https://manish.kumar.net/DepartmentItem/03/01/2020" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeacherService_InsertNewEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewEmployee" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_InsertNewEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_ShowTeacherByID_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowTeacherByID" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_ShowTeacherByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowTeacherByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_ShowAllDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllDepartments" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_ShowAllDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllDepartmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeacherService">
    <wsdl:operation name="InsertNewEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/InsertNewEmployee" message="tns:ITeacherService_InsertNewEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/InsertNewEmployeeResponse" message="tns:ITeacherService_InsertNewEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowTeacherByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/ShowTeacherByID" message="tns:ITeacherService_ShowTeacherByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/ShowTeacherByIDResponse" message="tns:ITeacherService_ShowTeacherByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/ShowAllDepartments" message="tns:ITeacherService_ShowAllDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/ShowAllDepartmentsResponse" message="tns:ITeacherService_ShowAllDepartments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeacherService" type="tns:ITeacherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewEmployee">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/InsertNewEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowTeacherByID">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/ShowTeacherByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllDepartments">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/ShowAllDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeacherService">
    <wsdl:port name="BasicHttpBinding_ITeacherService" binding="tns:BasicHttpBinding_ITeacherService">
      <soap:address location="http://localhost:8090/MyTeacher" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>